<div class="block">
    <h2 class="no-margin uppercase"><span class="fas fa-award"></span> Honors and Awards</h2>
</div>
{{#cv.awards}}
    <div class="block">
        <p>{{title}}, {{awardedBy}} <span class="right">{{formatDate date}}</span></p>
    </div>
{{/cv.awards}}
