<div class="block">
    <h2 class="no-margin uppercase"><span class="fas fa-language"></span> Languages</h2>
</div>
{{#cv.languages}}
    <div class="block">
        <h4>
            {{language}} /
            <span class="smaller">
                {{fluency}}
            </span>
        </h4>
    </div>
{{/cv.languages}}
