<div class="block">
    <h2 class="no-margin uppercase"><span class="fas fa-chalkboard-teacher"></span> Presentations</h2>
</div>
{{#cv.presentations}}
    <div class="block">
        <p>{{title}}</p>
    </div>
{{/cv.presentations}}
