<div class="block">
    <h2 class="no-margin uppercase">Professional Affiliations</h2>
</div>
{{#cv.professionalAffiliation}}
    <div class="block">
        <h3>
            {{position}}
            <span class="right smaller">
                {{formatDateRange startDate endDate}}
            </span>
        </h3>
        <h4>{{title}}</h4>
        <ul>
            {{#each highlights}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{/cv.professionalAffiliation}}
