<div class="block">
    <h2 class="no-margin uppercase">References</h2>
</div>
{{#cv.references}}
    <div class="block">
        <h4>
            {{name}}
            <span class="smaller">
                {{position}}
            </span>
            <br>
            <span class="smaller">
                {{phoneNumber}}, {{email}}
            </span>
        </h4>
    </div>
{{/cv.references}}
