<html lang="en">
    <head>
        <title>{{ cv.basics.name }}'s CV</title>
        <style>{{ css }}</style>
    </head>
    <body>
        <h2>My name is {{ cv.basics.name }}</h2>
    </body>
</html>
